<section class="students-section">
  <div class="tiles" #tiles>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th *ngFor = "let column of tableHeaders" (click)="sortTable()">
            {{column | titlecase}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of studentsData">
          <td *ngFor="let column of tableHeaders">
            <span>{{row[column]}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
