<section class="rotating-section">
  <div class="tiles" #tiles>
    <div class="tile d-flex justify-content-center align-items-center w-100">
      <h1>
        A swinging banner text which keeps on swinging
      </h1>
    </div>
  </div>
</section>
<section class="rotateText d-flex justify-content-center align-items-center">
  <div class="box">
    <div class="textBox">
      <div class="text d-flex justify-content-center align-items-center">A floating banner text</div>
      <div class="text d-flex justify-content-center align-items-center">which keeps on rotating</div>
    </div>
  </div>
</section>
