section{
  margin: 40px;
}

.tiles {
  grid-template-columns: repeat(1, 1fr);
}

.tile {
  background-color: #26de81;
}

h1 {
  color: #fff;
  line-height: 90px;
  letter-spacing: 15px;
  text-shadow: 0 1px 0 #efefef,
    0 2px 0 #efefef,
    0 3px 0 #efefef,
    0 4px 0 #efefef,
    0 30px 5px rgba(0, 0, 0, 0.1);
  animation: swing 3s linear infinite alternate;
}

@keyframes swing {
  from {
    transform: rotate(5deg);
  }

  to {
    transform: rotate(-5deg);
  }
}

section.rotateText{
  transform-style: preserve-3d;
  perspective: 1000px;
  .box, .textBox{
    position: relative;
    width: 100%;
    transform-style: preserve-3d;
  }
  .textBox{
    height: 400px;
    animation: textRotation 2s linear infinite;
    .text{
      font-size: 5vh;
      position: absolute;
      top:0;
      right:0;
      bottom:0;
      left: 0;
      backface-visibility: hidden;
    }
    .text:nth-child(2){
      transform: rotateY(180deg);
    }
  }
}


@keyframes textRotation {
  0%{
    transform: rotateY(360deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}
