<div class="container">
  <header class="app-header">
    <div class="tabs">
      <a href="#" routerLink="/banner" routerLinkActive="active">
        Banner
      </a>
      <a href="#" routerLink="/grid" routerLinkActive="active">
        E-commerce Grid
      </a>
      <a href="#" routerLink="/timer" routerLinkActive="active">
        Timer Cards
      </a>
      <a href="#" routerLink="/sTimer" routerLinkActive="active">
        Timer cards - Service
      </a>
      <a href="#" routerLink="/student" routerLinkActive="active">
        Student
      </a>
      <a href="#" routerLink="/dynamic" routerLinkActive="active">
        Dynamic Contents
      </a>
    </div>
  </header>
  <div class="app-body">
    <div class="app-body-main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
